
.bg-image {
    background-image: url("../../assets/page-images/landing-page-img.png");
    height: 94vh;
    position: bottom right;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100% 90%;
}

.landing-text {
    padding-left: 80px;
    margin-top: 4rem;
}

.portfolio-button {
    padding-left: 80px;
}

p {
    font-size: 2rem;
    font-family: objektiv-mk1,sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;
}
