.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

button.btn.btn-outline-black.Ripple-parent.about-button {
    margin: .5rem 1rem 0 0;
}

.list-group-item {
    padding: 10px 0;
    border: none !important 
}

.card-header {
    padding: 10px 0; 
}

.head-shot {
    max-width: 80%;
    height: auto;
}

@media only screen and (min-width: 320px) {
    .about-container {
        margin-top: 4rem;
        margin-bottom: 4rem;
        overflow: auto;
        text-align: center;
    }
    .text-center.about-list.card {
        margin-top: 1rem;
    }

    .head-shot {
        max-width: 60%;
        height: auto;
        margin-bottom: 1rem;
    }
    
}

@media only screen and (min-width: 600px) {
  

}



@media only screen and (min-width: 768px) {
    .about-container {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 4rem;
        margin-bottom: 4rem;
        overflow: auto;
        text-align: left;
    }
    .text-center.about-list.card {
        margin-top: 0;
    }
    
    .head-shot {
        max-width: 100%;
        height: auto;
    }
    
   
}


@media only screen and (min-width: 992px) {
    .about-container {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        overflow: auto;
        text-align: left;
    }
    
   .head-shot {
       max-width: 80%;
       height: auto;
   }
} 

