.about-container {
    margin-top: 4rem;
    margin-bottom: 4rem;
    min-height: 100vh;
}

button.btn.btn-outline-black.Ripple-parent.about-button {
    margin: .5rem 1rem 0 0;
}

.list-group-item {
    padding: 10px 0;
    border: none !important 
}

.card-header {
    padding: 10px 0; 
}