.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

button.btn.btn-outline-black.Ripple-parent.about-button {
    margin: .5rem 1rem 0 0;
}

.list-group-item {
    padding: 10px 0 0 0;
    border: none !important 
}

.skills-card {
    box-shadow: 3px 3px 10px 2px #737373;
    padding-bottom: 10px;
}

.card-header {
    background-color: white;
    padding: 10px 0; 
}


@media only screen and (min-width: 320px) {
    .about-container {
        margin-top: 4rem;
        margin-bottom: 4rem;
        overflow: auto;
        text-align: center;
    }
    .text-center.about-list.card {
        margin-top: 1rem;
    }
    
}

@media only screen and (min-width: 600px) {
  

}



@media only screen and (min-width: 768px) {
    .about-container {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 4rem;
        margin-bottom: 4rem;
        overflow: auto;
        text-align: left;
    }
    .text-center.about-list.card {
        margin-top: 0;
    }

   
}


@media only screen and (min-width: 992px) {
    .about-container {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        overflow: auto;
        text-align: left;
    }
    
  
} 

