button.btn.btn-default.Ripple-parent.contact-button {
    background-color: black !important;
    padding: 10px 15px;
    border-radius: 10px;
}

.contact-container {
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}