.footer {
    bottom: 0;
    color: #fff;
    width: 100%;
}

@media only screen and (min-width: 320px) {
    button.btn.btn-default.Ripple-parent.contact-button {
        font-size: .5rem;
        overflow: auto;
    }
}

@media only screen and (min-width: 600px) {
   
}



@media only screen and (min-width: 768px) {
    button.btn.btn-default.Ripple-parent.contact-button {
        font-size: 1rem;
        overflow: auto;
    }
    

}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait) { 

   

}



@media only screen and (min-width: 992px) {
 

} 
