.landing-img {
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

@media (min-width: 568px) {
  .landing-img {
        background-size: 100% cover;
        background-position: bottom right;
        background-repeat: no-repeat;
  }
}
