h1 {
    font-weight: 900;
}

h6 {
    font-style: italic; 
}

p {
    font-size: 1rem;
    font-weight: 100;
}

.modal-dialog.modal-fluid.modal-top {
    width: 83.33%;
    max-width: 83.33%;
    text-align: left; 
}