html, body {
   height: 100vh;
}

#root {
   height: 100%; 
}


.bg-color {
   background-color: black;
}

.contact-page {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   min-height: 100vh;
}

@media only screen and (min-width: 992px) {
   .contact-page {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
   }
} 
