.landing-container {
    height: 95%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.landing-img {
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
}

.landing-content {
    text-align: center; 
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


@media only screen and (min-width: 568px ) {
    .landing-container {
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .landing-img {
        background-position: bottom right;
        background-size: 33.33% auto;
    }

    .landing-content {
        height: 50%;
        text-align: center; 
    }

}

@media only screen and (min-width: 768px ) {
    .landing-container {
        height: 95%;
    }

    .landing-img {
        background-position: bottom right;
        background-size: 33.33% auto;
    }

}

@media only screen and (min-width: 992px) {
    .landing-container {
        display: block;
    }

    .landing-content {
        height: 40%;
        text-align: center; 
    }


} 



