.landing-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.landing-img {
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
}

.landing-content {
    text-align: center; 
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


@media only screen and (min-width: 568px ) {
    .landing-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .landing-img {
        background-position: bottom right;
        background-size: 33.33% auto;
    }

    .landing-content {
        text-align: center; 
        height: 66.66%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }

}

@media only screen and (min-width: 768px ) {
    .landing-img {
        background-position: bottom right;
        background-size: 33.33% auto;
    }

}

@media only screen and (min-width: 992px) {
    .landing-container {
        display: block;
    }

    .landing-content {
        height: 55%;
    
    }


} 



