.portfolio-container {
    max-width: 83%;
    min-height: 100vh;
    padding: 1.75rem 0 1.75rem 0;
    flex-direction: column;
    justify-content: space-evenly;
}

.modal-body {
    padding-bottom: 0;
}

@media only screen and (max-width: 600px) {
    .modal-header {
        text-align: center
    }

} 

