.portfolio-container {
    max-width: 83%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.portfolio-image {
    max-width: 100%
}

.mask.rgba-black-strong.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5px 0 5px;
}

.view.overlay {
    border-radius: 4px;
}

.rgba-black-strong, .rgba-black-strong:after {
    background-color: rgba(0, 0, 0, 0.95);
}

.overlay .mask {
    opacity: 0;
    transition: all .5s ease-in-out;
}



.project-title {
    color: #F2F2F2;
    font-weight: 900;
    font-size: 2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

button.btn.btn-default.btn-sm.Ripple-parent.portfolio-button {
    background: none;
    font-size: 1rem;
}

button.btn.btn-default.btn-sm.Ripple-parent.portfolio-button:hover {
    background-color: white;
    color: #34BF8C;
    font-size: 1rem;
}

.modal-backdrop.show {
    opacity: 0.95;
    height: 100%;
}

.modal.fade.top.show {
    padding-top: 2rem; 
}



p {
    font-size:  smaller;
}


.list-header {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.modal-list {
    font-size: smaller;
}

li {
    margin-right: 1rem;
}

ul li::before {
    content: "\2022"; 
    color: black; 
    font-weight: bold;
    display: inline-block; 
    width: 1.25em;
}

@media only screen and (min-width: 320px) {

    .portfolio-container {
        margin-top: 4rem; 
        margin-bottom: 4rem;
    }

    .modal-header {
        text-align: center;
    }

    .modal-header h1 {
        font-size: 2rem
    }

    .modal.fade.top.show {
        padding-top: 4rem; 
    }

    ul {
        list-style-type: none;
        padding-inline-start: 0;
        margin-bottom: 0;
    }

}

@media only screen and (min-width: 600px) {
    ul {
        list-style-type: none;
        padding-inline-start: 0;
        height: 50px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

}



@media only screen and (min-width: 768px) {

    .modal.fade.top.show {
        padding-top: 2rem; 
    }

    .modal-header {
        text-align: left; 
    }

    .portfolio-container {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait) { 

    .portfolio-container {
        margin-top: 0;
        margin-bottom: 0;
    }

    .button-container {
        height: 60%;
    }

    .headline-container {
        height: 22%;
    }

}



@media only screen and (min-width: 992px) {
  .portfolio-container {
      margin-top: 0; 
      margin-bottom: 0;
  }

} 
